<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    {{>header}}
    <form>
        <div>
            <input placeholder="Location" name="loc" type="text">          
        </div>
        <button>Submit</button>
    </form>
    <p id='location'></p>
    <p id='forcast'></p>

    <script src="/js/app.js"></script>
</body>

</html>